body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.gcard{
  margin: 20px;
}

.gcard-img{
  border-radius: 10px;
  width: 300px;
  height: 410px;
  box-shadow: 0px 0px 3px 1px  #ccc;
}

.gcard-info{
  margin-top: 10px;
  min-height: 100px;

}

.gacard-title{
  font-size: 24px;
  margin: 0px;
}

.gcard-sub{
 font-size: 16px;
 margin: 0px;
}

.success-msg{
  color: #57a773;
  padding: 10px 15px;

}

.err-msg{
  padding: 10px 15px;
  color: #ee6352;
}

.cont-row{
  height: 100%;
}

.cont-color{
  border: 1px solid #ee6352;
}

.row-col-color-1{
  background: #1F1815;
  background-attachment: scroll;
  background-position: top left, center center;
  background-size: auto, cover;
  background-image: url(https://user-images.githubusercontent.com/25479050/85929387-374e8580-b8ac-11ea-8824-01ef6909d58a.png), url(https://user-images.githubusercontent.com/25479050/85928869-43d0df00-b8a8-11ea-842a-fc131cd27956.jpg);
  background-repeat: repeat, no-repeat;
  height: 100%;
  text-align: center;

}

.row-inner{
  border: 1px solid black;
  margin-top: 5em;
}

/* .row-inner-col{
  border-radius: 100%;
} */

.image-avatar{
  margin-bottom: 1em;
}

.image-avatar img {
  border-radius: 100%;
  width: 100%;
}

h1{
  font-size: 1.35em !important;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.75em;
  font-weight: 400;
  text-align: center;
}

h1 > a{
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  font-size: 1em;
}

strong{
  color: #ffffff;
  font-weight: 400;
}

.row-col-color-2{
  background: #ee6352;
}

/* Section one */

#one > p{
  color: #a2a2a2;
  margin-bottom: 2em;
}

#About > section{
  margin-top: 4em;
  padding-top: 4em;
}

.major > h2{
  margin-bottom: 32px;
  color: #787878;
  font-size: 2em;
  line-height: 1.5em;
  /* color: #787878; */
  font-weight: 400;
}

.main-button{
  /* border: 3px solid #787878 !important; */
  border: 3px solid #e0e2db !important;
}

.main-button:hover{
  border: 3px solid #49bf9d !important;
}

.button{
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  /* border-bottom: dotted 1px; */
  /* color: #49bf9d; */
  text-decoration: none;
  color: #a2a2a2 !important;
  /* color: #787878 !important; */
  background-color: transparent !important;
  font-weight: 400;
  /* height: calc(2.75em + 6px); */
  line-height: 2em;
  min-width: 9em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  /* padding: 0 1.5em; */
}

.button:hover{
  text-decoration: none;
  color: #49bf9d;
  background-color: none;
}

/* .main-button > .button:hover{
  color: #49bf9d;
} */

.main-button{
  margin-bottom: 2em;
}


#next {
  margin-top: 4em;
  padding-top: 4em;
}

/* Section three Form */

#three{
    border-top: solid 2px #efefef;
    /* margin: 4em 0 0 0; */
    margin-top: 4em;
    /* margin-right: 0px; */
    margin-bottom: 0px;
    /* margin-left: 0px; */
    /* padding: 4em 0 0 0; */
    padding-top: 4em;
    /* padding-right: 0px; */
    /* padding-bottom: 0px; */
    /* padding-left: 0px; */
}

#three > h2{
  font-size: 1.5em;
  line-height: 1.5em;
  color: #787878;
    font-weight: 400;
    line-height: 1em;
    /* margin: 0 0 1em 0; */
    /* margin-top: 0px;
    margin-right: 0px; */
    margin-bottom: 1em;
    /* margin-left: 0px; */
}

#three > p{
  /* margin-top: 0px; */
    /* margin-right: 0px; */
    margin-bottom: 2em;
    /* margin-left: 0px; */
}
