body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.gcard{
  margin: 20px;
}

.gcard-img{
  border-radius: 10px;
  width: 300px;
  height: 410px;
  box-shadow: 0px 0px 3px 1px  #ccc;
}

.gcard-info{
  margin-top: 10px;
  min-height: 100px;

}

.gacard-title{
  font-size: 24px;
  margin: 0px;
}

.gcard-sub{
 font-size: 16px;
 margin: 0px;
}

.success-msg{
  color: #57a773;
  padding: 10px 15px;

}

.err-msg{
  padding: 10px 15px;
  color: #ee6352;
}

.cont-row{
  height: 100%;
}

.cont-color{
  border: 1px solid #ee6352;
}

.row-col-color-1{
  background: #1F1815;
  background-attachment: scroll;
  background-position: top left, center center;
  background-size: auto, cover;
  background-image: url(https://user-images.githubusercontent.com/25479050/85929387-374e8580-b8ac-11ea-8824-01ef6909d58a.png), url(https://user-images.githubusercontent.com/25479050/85928869-43d0df00-b8a8-11ea-842a-fc131cd27956.jpg);
  background-repeat: repeat, no-repeat;
  height: 100%;

}

.row-inner{
  border: 1px solid black;
}

/* .row-inner-col{
  border-radius: 100%;
} */

.image-avatar{
  margin-bottom: 1em;
}

.image-avatar img {
  border-radius: 100%;
  width: 100%;
}

.row-col-color-2{
  background: #ee6352;
}
